root = true

[*]
trim_trailing_whitespace = true
end_of_line = lf
insert_final_newline = true

[*.{js,json,yml}]
charset = utf-8
indent_style = space
indent_size = 2

[{*.clj,*.cljs,*.cljc,*.cljr,*.cljx,*.edn,*.js,*.json,*.ts,*.tsx}]
indent_style = space
indent_size = 2

[{*.md,*.adoc}]
trim_trailing_whitespace = false